<h1 class="header">My favorites</h1>
<div ng-controller="favoritesController as favCtrl" id="main">
    <div class="category">
        <div style="height: 5em">
            <img src="assets\images\guard.png" class="logo2" alt="logo">
        </div>
        <br>
        <br>
        <div ng-repeat="category in favCtrl.categories">
            <button ng-click="favCtrl.selectCategory(category.CategoryID)" class="category_button">{{category.CategoryName}}</button>
        </div>
        <button ng-click="favCtrl.selectAll()" ng-hide="favCtrl.showAll" class="category_button">All points</button>
    </div>

    <div class="POI">
        <div style="height: 6.8em">
            <select class="selectSort" ng-model="favCtrl.orderBy" ng-options="c as c.name for c in favCtrl.sortedOptions"></select>
            <label class="sortBy">Sort By:</label>
            <input class="selectSort" type="text" ng-model="favCtrl.filterBy">
            <label class="sortBy">Search</label>
            <label class="header_content">• • {{favCtrl.categoryHeader}} • •</label>
        </div>
        <br>
        <br>

        <span ng-show="favCtrl.points.length" ng-repeat="p in favCtrl.points | filter : favCtrl.filterBy|
                orderBy:favCtrl.orderBy.label:favCtrl.orderBy.reverse" class="point_description">
            <img ng-src="{{p.Pic}}" class="img_product" ng-click="favCtrl.open(p)" />
            <table>
                <tr>
                    <td class="header_description" style=" width: 8em; height: 2.4em;" colspan="2">{{p.PointName}}</td>
                </tr>
                <tr>
                    <td class="header_description" style="width: 8em">Set Number of favorite:</td>
                    <td style="width: 8em">
                        <input type="number" ng-model="p.OrderNum" ng-change="p.NewOrderNum" min="-2" max="20" class="favorites_text">
                    </td>
                </tr>
                <tr>
                    <td style="width: 8em">
                        <button class="description_button" ng-click="favCtrl.open(p)">Full details</button>
                        <button class="description_button" ng-click="favCtrl.openRank(p)">Add Rank</button>
                    </td>
                    <td style="width: 8em">
                        <img ng-src="assets\images\Fheart.png" class="img_heart" ng-hide="!p.inFav" ng-click="favCtrl.favorites(p)" />
                        <img ng-src="assets\images\Eheart.png" class="img_heart" ng-hide="p.inFav" ng-click="favCtrl.favorites(p)" />
                    </td>
                </tr>
            </table>
            <br/>
        </span>
        <div ng-hide="favCtrl.points.length">
            <br>
            <br>
            <label class="textLabel"> Your favorites is empty </label>
            <br>
            <br>
        </div>
        <br><br><br><br>
        <div ng-show="favCtrl.showAll">
            <label class="textLabel">Click For Save Changes!</label>
            <button class="save_button" ng-click="favCtrl.enterOrder()">Save Favorite`s Order</button>
        </div>
    </div>

</div>