.favoritesDescription {
    background-color: #fdf1d9;
    color: #101010;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    display: inline;
    float: right;
}
.header_details{
    height: 1em;
}

.headerfavorites{
    font-size: 18px;
    font-weight: bold;
    display: inline;
}

.favoritesImg{
    width: 9em;
    height: 9em;
    border: 0.5em solid white;
    margin-right: 0.05em;
    margin-left:0.05em;
    border-radius: 0.2em;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.textLabel{
    display: block;
    margin: 0;
    font-size: 1.5em;
    font-family: 'Acme', sans-serif;
    text-align: center;
    position: static;
}

.save_button{
    padding: 10px 40px;
    margin: 4px 0px 10px 1px;
    color: #ffffff;
    background: #f58fa9;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    border-radius: 2%;
    font-family: 'Shrikhand', cursive;
    margin-left: 38%;
    letter-spacing: 2px;
}

.modalImg
{
    width: 10em;
    height: 10em;
    border: 0.5em solid white;
    margin-right: 2.05em;
    margin-left: 0.05em;
    border-radius: 0.2em;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    float: left;
    margin-top: 0.8em;
}

.modalHeader {
    color: black;
    font-size: 0.8em;
    text-align: center;
    float: none;
    margin: 0;
    font-family: 'Shrikhand', cursive;
}

.modalText {
    color: black;
    font-size: 0.8em;
    text-align: center;
    float: none;
    margin: 0;
}

.ngdialog.ngdialog-custom .ngdialog-content {
    height: 800em;
}

.favorites_text {
    text-align: center;
}

.description_button {
    background-color: #f58fa9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.8em;
    padding: 0.4em 1em;
    text-decoration: none;
    font-weight: bold;
    width: 7.5em;
    margin-top: 0.5em;
    margin-left: 1em;
}
.description_button:hover {
    background-color: #ffc1c6;
}

input.favorites_text{
    width: 7em;
}
