.logBackground{
    min-height: 500px;
    width: 800px;
    margin: auto;
    padding: 5px;
    border: 8px solid white;
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0.78);
    flex: 3 1 60%;
    order: 2;
    margin-top: 10px;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

.logHeader{
    font-family: 'Acme', sans-serif;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 50px;
    color: #fff8fd;
    text-align: center;
    text-shadow: rgb(212, 204, 204) 4px 4px 1px;
    margin-top: 2%;
}

.logInput{
    outline: none;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 20em;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

.logInputHeader {
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2%;
    padding-top: 1%;
    color: rgb(118, 138, 223);;
    letter-spacing: 3px;
    display: block;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

.logSubmit{
    margin: auto;
    outline:none;
    border:none;
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    border: 8px solid white;
    /* padding: 14px 16px; */
    border-radius: 15pt;
    text-decoration: none;
    font-size: 17px;
    transition: .3s background-color;
    background-color: #ffffff !important;
    /* margin-right: 10px; */
    font-family: 'Acme', sans-serif;
}
.logSubmit:hover{
    background-color: #e6e1e1 !important;
    color: #ffffff;
    border-color: white;
}