#main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    /* display: inline; */
    flex-flow: row;
}

.positionCenter{
    text-align: center;
}

.POI{
    min-height: 500px;
    width: 800px;
    margin: auto;
    padding: 5px;
    border: 8px solid white;
    border-radius: 7%;
    background-color: rgba(255, 255, 255, 0.78);
    flex: 3 1 60%;
    order: 2;
    margin-top: 10px;
    font-family: 'Acme', sans-serif;
    
}

.category{
    margin: 4px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 7pt;
    background-color: rgba(247, 225, 225, 0.78);
    flex: 1 6 20%;
    order: 1;
}

.ico{
    color: #101010;
    float: left;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 0.8em;
}


.category_button {
    outline: none;
    display: block;
    color: #f5abb4;
    text-align: center;
    text-decoration: none;
    transition: .3s background-color;
    float: left;
    list-style: none;
    font-size: 1.3em;
    height: 2.5em;
    background-color: #ffffff !important;
    border: 2px solid #e6f2f3;
    width: 90%;
    margin-top: 0.5em;
    margin-left: 0.8em;
    letter-spacing: 1px;
    font-family: 'Acme', sans-serif;
    box-shadow: 0.1em 0.1em 12px #a29e9e
}

.category_button:hover {
    background-color: #e1e1e1 !important;
    font-size: 1.32em;
    color: #f58fa9;
    box-shadow: 0.1em 0.1em 12px #a29e9e
}

.category_button:active{
    background-color: #e1e1e1 !important;
    font-size: 1.32em;
    color: #f58fa9;
    box-shadow: 0.1em 0.1em 12px #a29e9e
}
.logo2 {
    position: inherit;
    left: 50%;
    display: block;
    margin: auto;
    width: 8em;
    margin-top: 1em
}

.img_heart {
    position: inherit;
    left: 50%;
    display: block;
    margin: auto;
    width: 2em;
    margin-top: 1em
}

.img_heart:hover{
    opacity: 0.3;
}


.img_product{
    width: 15em;
    height: 13em;
}

.img_product:hover{
    width: 15em;
    height: 13em;
    opacity: 0.3;
}

.point_description{
    width: 15em;
    height: 23em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: white;
    color: #101010;
    font-size: 16px;
    padding: 0.2em 0.2em;
    display: inline-grid;
    margin-bottom: 0.5em;
}

.description{
    width: 14.3em;
    height: 4.5em;
    padding: 0.3em 0.3em;
    text-align: center;
}

.header_description {
    font-size: 1.0em;
    font-weight: bold;
}

.content_description{
    font-size: 0.9em;
}

.button_description{
    width: 14.3em;
    height: 2em;
}
.addTofavorites_btn {
    background-color: #f58fa9;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 0.8em;
    padding: 0.4em 1em;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5.7em;
}
.addTofavorites_btn:hover {
    background-color: #ffc1c6;
}

.header_content{
   color: white;
   font-family: 'Acme', sans-serif;
   font-size: 2.5em;
    display: block;
    text-align: center;
    padding-top: 5%;
}

.sortBy{
    float: right;
    margin-top: 0.5em;
    margin-right: 0.3em;
    color: white;
    font-weight: bold;
}
.selectSort{
    float: right;
    margin-right: 0.7em;
    margin-top: 0.5em;
    width: 10em;
}

.reportInput{
    margin: auto;
    text-align: left;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
}

.moodImage{
    height: 50px;
    width: 50px;
}

#checkbox{
    margin: auto;
    text-align: center;
    font-family: 'Acme', sans-serif;
    color: white;
    font-size: 30px;

}



  /* checkbox2 */
  /* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  /*  */
  font-family: 'Acme', sans-serif;
  color: white;
  font-size: 22px;

}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #2196F3;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
