.regBackground{
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 3em;
    padding-top: 1em;
    padding-bottom: 4em;
    background-color: rgba(247, 225, 225, 0.78);
    border-radius: 7em;
    border: 5px solid white;
}

.regTable{
    overflow-x:auto;
}

.regHeader{
    font-family: 'Acme', sans-serif;
    display: block;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 50px;
    color: #fff8fd;
    text-align: center;
    text-shadow: rgb(212, 204, 204) 4px 4px 1px;
    margin-top: 2%;
}

.input{
    outline: none;
    color: black;
    padding: 0.5em 1em;
    border: none;
    border-radius: 2%;
    width: 15em;
    font-family: 'Acme', sans-serif;
}

.InputHeader {
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2%;
    padding-top: 1%;
    color: white;
    letter-spacing: 3px;
    display: block;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

.InputHeader2 {
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 1%;
    color: rgb(118, 138, 223);
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

.submit{
    margin: auto;
    outline:none;
    border:none;
    display: block;
    color: black;
    text-align: center;
    padding: 5px;
    border: 8px solid white;
    /* padding: 14px 16px; */
    border-radius: 15pt;
    text-decoration: none;
    font-size: 17px;
    transition: .3s background-color;
    background-color: #ffffff !important;
    /* margin-right: 10px; */
    font-family: 'Acme', sans-serif;
    width: 200px;
}

.submit:hover{
    background-color: #e6e1e1 !important;
    color: #ffffff;
    border-color: white;
}
td {
    text-align: left;
    vertical-align: middle;
}