<div class="logBackground">
        <h2 class="logHeader">Fill Information</h2>
        <div class="login-container" ng-controller="testController as testCtrl">
            <div class="login-form">
                <form name="infoNotRegForm" ng-submit="testCtrl.saveInfo(infoNotRegForm.$valid)" novalidate>
                    <!-- <div class="form-group">
                        <label class="logInputHeader">First Name</label>
                        <input type="text"
                               ng-model="testCtrl.notRegUser.firstName"
                               ng-required="true"
                               class="form-control logInput"
                               name="firstnameInput"
                               placeholder="Enter first name">
                        <span ng-show="(infoNotRegForm.firstnameInput.$error.required || infoNotRegForm.firstnameInput.$pristine)&& infoNotRegForm.$submitted" class="help-block">first required</span>
                    </div>
                    <div class="form-group">
                        <label class="logInputHeader">Last Name</label>
                        <input type="text"
                               ng-model="testCtrl.notRegUser.lastName"
                               ng-required="true"
                               class="form-control logInput"
                               name="lastnameInput"
                               placeholder="Enter last name">
                        <span ng-show="(loginForm.passwordInput.$error.required || loginForm.passwordInput.$pristine)&& loginForm.$submitted" class="help-block">Password is required</span>
                    </div> -->
                    <div class="form-group">
                            <label class="logInputHeader">Age</label>
                            <input type="number"
                                   ng-model="testCtrl.notRegUser.age"
                                   ng-required="true"
                                   class="form-control logInput"
                                   name="ageInput"
                                   placeholder="Enter age"
                                   min="18">
                            <span ng-show="(infoNotRegForm.ageInput.$error.required || infoNotRegForm.ageInput.$pristine) && infoNotRegForm.$submitted" class="help-block">Age is required</span>
                    </div>
                    <div class="form-group">
                            <label class="logInputHeader">Gender</label>
                            <select ng-model="testCtrl.notRegUser.gender"
                                   ng-required="true"
                                   class="form-control logInput"
                                   name="genderInput"
                                   placeholder="choose gender">
                                   <option value="male">Male</option>
                                   <option value="female">Female</option>
                                   </select>
                                   <span ng-show="(infoNotRegForm.genderInput.$error.required || infoNotRegForm.genderInput.$pristine) && infoNotRegForm.$submitted" class="help-block">Gender is required</span>
                     </div>
                     <div class="form-group">
                            <label class="logInputHeader">Dominant Hand</label>
                            <select ng-model="testCtrl.notRegUser.hand"
                                   ng-required="true"
                                   class="form-control logInput"
                                   name="hand"
                                   placeholder="">
                                   <option value="right">Right</option>
                                   <option value="left">Left</option>
                                   <option value="both">Both</option>
                                   </select>
                                   <span ng-show="(infoNotRegForm.hand.$error.required || infoNotRegForm.hand.$pristine) && infoNotRegForm.$submitted" class="help-block">Dominant Hand is required</span>
                     </div>
                     <div class="form-group">
                            <label class="logInputHeader">English Knowledge Level</label>
                            <select ng-model="testCtrl.notRegUser.email"
                                   ng-required="true"
                                   class="form-control logInput"
                                   name="englishLevel"
                                   placeholder="">
                                   <option value="native language">Native Language</option>
                                   <option value="very good">Very Good</option>
                                   <option value="good">Good</option>
                                   <option value="Low">Low</option>
                                   </select>
                                   <span ng-show="(infoNotRegForm.englishLevel.$error.required || infoNotRegForm.englishLevel.$pristine) && infoNotRegForm.$submitted" class="help-block">English Level is required</span>
                     </div>
                     <br>
                     <input type="submit" ng-disabled="testCtrl.toDisable"
                           class="btn btn-success btn-lg logSubmit"
                           value="Submit And Continue">
                     <br>
                </form>
                <br>
            </div>
           </div>
    
    </div>
    