<div id="main" ng-controller="testController  as testCtrl">
    <!-- Mood -->
    <div class="logBackground">
        <div style="height: 6.8em">
            <label class="regHeader">• • My Mood is • •</label>
            <br>
            <br>
            <form>
                <table class="reportInput">
                    <tr>
                        <td>
                            <img src="assets\images\happy.png" class="moodImage" />
                        </td>
                        <td>
                            <input type="radio" name="sadnessLevel" value="1" ng-model="testCtrl.sadnessLevel"> 1
                            <input type="radio" name="sadnessLevel" value="2" ng-model="testCtrl.sadnessLevel"> 2
                            <input type="radio" name="sadnessLevel" value="3" ng-model="testCtrl.sadnessLevel"> 3
                            <input type="radio" name="sadnessLevel" value="4" ng-model="testCtrl.sadnessLevel"> 4
                            <input type="radio" name="sadnessLevel" value="5" ng-model="testCtrl.sadnessLevel"> 5
                        </td>
                        <td>&emsp;
                            <img src="assets\images\sad.png" class="moodImage" />
                        </td>
                    </tr>
                    <tr>
                        <td>Happy</td>
                        <td>&emsp;</td>
                        <td>&emsp;Sad</td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets\images\calm1.png" class="moodImage" />
                        </td>
                        <td>
                            <input type="radio" name="stressLevel" value="1" ng-model="testCtrl.stressLevel"> 1
                            <input type="radio" name="stressLevel" value="2" ng-model="testCtrl.stressLevel"> 2
                            <input type="radio" name="stressLevel" value="3" ng-model="testCtrl.stressLevel"> 3
                            <input type="radio" name="stressLevel" value="4" ng-model="testCtrl.stressLevel"> 4
                            <input type="radio" name="stressLevel" value="5" ng-model="testCtrl.stressLevel"> 5
                        </td>
                        <td>&emsp;
                            <img src="assets\images\stressed.png" class="moodImage" />
                        </td>
                    </tr>
                    <tr>
                        <td>Calm</td>
                        <td>&emsp;</td>
                        <td>&emsp;Stressed</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <br>
    <!-- checkbox -->
        <div class="positionCenter">
            <input type="checkbox" id="test2" checked="checked" ng-model="testCtrl.hasSmartBracelate"/>
        <label for="test2">I have a smart Bracelate</label>
        </div>
        
    <!-- Physical -->
    <div class="POI" ng-show="testCtrl.hasSmartBracelate">
        <div style="height: 6.8em">
            <label class="regHeader">• • Physiological Indices • •</label>
        </div>
        <form>
            <table class="reportInput">
                <tr>
                    <td>
                        <b>Blood Pressure</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>SYS:</label>
                    </td>
                    <td>
                        <input type="number" name="SYS" min="70" max="200" ng-model="testCtrl.sys">
                    </td>
                </tr>
                <tr>
                    <td>&emsp;</td>
                </tr>
                <tr>
                    <td>
                        <label>DIA:</label>
                    </td>
                    <td>
                        <input type="number" name="DIA" min="50" max="150" ng-model="testCtrl.dia">
                    </td>
                </tr>
                <tr>
                    <td>&emsp;</td>
                </tr>
                <tr>
                    <td>&emsp;</td>
                </tr>
                <tr>
                    <td>
                        <b>Pulse:</b>
                    </td>
                    <td>
                        <input type="number" name="Pulse" min="50" max="250" ng-model="testCtrl.pulse">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <br>
        <button class="logSubmit" ng-click="testCtrl.reportAndStart()">Report and Start Test</button>
    </div>
</div>