<div id="main" ng-controller="testControllerPANAS  as testCtrl">
    <!-- Mood -->
    <div class="logBackground">
        <div style="height: 6.8em">
            <label class="regHeader">• My Mood Right Now •</label>
            <br>
            <form>
                <table class="reportInput">
    <tr><td></td><td>not at all</td> <td></td> <td></td> </td></td> <td></td>  <td>extremely </td></tr>&emsp;
    <tr><td></td></tr>
                    <tr>
                        <td>
                            active 
                            <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                        </td>
                        <td>&emsp;
                            <input type="radio" name="active" value="1" ng-model="testCtrl.active"> 1
                        </td>
                        <td>
                            <input type="radio" name="active" value="2" ng-model="testCtrl.active"> 2&emsp;
                        </td>
                        <td>
                            <input type="radio" name="active" value="3" ng-model="testCtrl.active"> 3&emsp;
                        </td>
                        <td>
                            <input type="radio" name="active" value="4" ng-model="testCtrl.active"> 4&emsp;
                        </td>
                        <td>
                            <input type="radio" name="active" value="5" ng-model="testCtrl.active"> 5
                        </td>
                       
                    </tr>

                    <tr>
                        <td>
                            determined 
                            <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                        </td>
                        <td>&emsp;
                            <input type="radio" name="determined" value="1" ng-model="testCtrl.determined"> 1
                        </td>
                        <td>
                            <input type="radio" name="determined" value="2" ng-model="testCtrl.determined"> 2
                        </td>
                        <td>
                            <input type="radio" name="determined" value="3" ng-model="testCtrl.determined"> 3
                        </td>
                        <td>
                            <input type="radio" name="determined" value="4" ng-model="testCtrl.determined"> 4
                        </td>
                        <td>
                            <input type="radio" name="determined" value="5" ng-model="testCtrl.determined"> 5
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                            attentive 
                            <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                        </td>
                        <td>&emsp;
                            <input type="radio" name="attentive" value="1" ng-model="testCtrl.attentive"> 1
                        </td>
                        <td>
                            <input type="radio" name="attentive" value="2" ng-model="testCtrl.attentive"> 2
                        </td>
                        <td>
                            <input type="radio" name="attentive" value="3" ng-model="testCtrl.attentive"> 3
                        </td>
                        <td>
                            <input type="radio" name="attentive" value="4" ng-model="testCtrl.attentive"> 4
                        </td>
                        <td>
                            <input type="radio" name="attentive" value="5" ng-model="testCtrl.attentive"> 5
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                            inspired 
                            <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                        </td>
                        <td>&emsp;
                            <input type="radio" name="inspired" value="1" ng-model="testCtrl.inspired"> 1
                        </td>
                        <td>
                            <input type="radio" name="inspired" value="2" ng-model="testCtrl.inspired"> 2
                        </td>
                        <td>
                            <input type="radio" name="inspired" value="3" ng-model="testCtrl.inspired"> 3
                        </td>
                        <td>
                            <input type="radio" name="inspired" value="4" ng-model="testCtrl.inspired"> 4
                        </td>
                        <td>
                            <input type="radio" name="inspired" value="5" ng-model="testCtrl.inspired"> 5
                        </td>
                       
                    </tr>
                    <tr>
                        <td>
                            alert 
                            <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                        </td>
                        <td>&emsp;
                            <input type="radio" name="alert" value="1" ng-model="testCtrl.alert"> 1
                        </td>
                        <td>
                            <input type="radio" name="alert" value="2" ng-model="testCtrl.alert"> 2
                        </td>
                        <td>
                            <input type="radio" name="alert" value="3" ng-model="testCtrl.alert"> 3
                        </td>
                        <td>
                            <input type="radio" name="alert" value="4" ng-model="testCtrl.alert"> 4
                        </td>
                        <td>
                            <input type="radio" name="alert" value="5" ng-model="testCtrl.alert"> 5
                        </td>
                       
                    </tr>
                    <tr></tr>
                    <tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                        <td>
                            afraid 
                            <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                        </td>
                        <td>&emsp;
                            <input type="radio" name="afraid" value="1" ng-model="testCtrl.afraid"> 1
                        </td>
                        <td>
                            <input type="radio" name="afraid" value="2" ng-model="testCtrl.afraid"> 2
                        </td>
                        <td>
                            <input type="radio" name="afraid" value="3" ng-model="testCtrl.afraid"> 3
                        </td>
                        <td>
                            <input type="radio" name="afraid" value="4" ng-model="testCtrl.afraid"> 4
                        </td>
                        <td>
                            <input type="radio" name="afraid" value="5" ng-model="testCtrl.afraid"> 5
                        </td>
                       
                    </tr>
                    <tr>
                            <td>
                                    nervous 
                                <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                            </td>
                            <td>&emsp;
                                <input type="radio" name="nervous" value="1" ng-model="testCtrl.nervous"> 1
                            </td>
                            <td>
                                <input type="radio" name="nervous" value="2" ng-model="testCtrl.nervous"> 2
                            </td>
                            <td>
                                <input type="radio" name="nervous" value="3" ng-model="testCtrl.nervous"> 3
                            </td>
                            <td>
                                <input type="radio" name="nervous" value="4" ng-model="testCtrl.nervous"> 4
                            </td>
                            <td>
                                <input type="radio" name="nervous" value="5" ng-model="testCtrl.nervous"> 5
                            </td>
                           
                        </tr>
                        <tr>
                                <td>
                                        upset  
                                    <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                                </td>
                                <td>&emsp;
                                    <input type="radio" name="upset" value="1" ng-model="testCtrl.upset"> 1
                                </td>
                                <td>
                                    <input type="radio" name="upset" value="2" ng-model="testCtrl.upset"> 2
                                </td>
                                <td>
                                    <input type="radio" name="upset" value="3" ng-model="testCtrl.upset"> 3
                                </td>
                                <td>
                                    <input type="radio" name="upset" value="4" ng-model="testCtrl.upset"> 4
                                </td>
                                <td>
                                    <input type="radio" name="upset" value="5" ng-model="testCtrl.upset"> 5
                                </td>
                               
                            </tr>
                            <tr>
                                    <td>
                                    hostile  
                                        <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                                    </td>
                                    <td>&emsp;
                                        <input type="radio" name="hostile" value="1" ng-model="testCtrl.hostile"> 1
                                    </td>
                                    <td>
                                        <input type="radio" name="hostile" value="2" ng-model="testCtrl.hostile"> 2
                                    </td>
                                    <td>
                                        <input type="radio" name="hostile" value="3" ng-model="testCtrl.hostile"> 3
                                    </td>
                                    <td>
                                        <input type="radio" name="hostile" value="4" ng-model="testCtrl.hostile"> 4
                                    </td>
                                    <td>
                                        <input type="radio" name="hostile" value="5" ng-model="testCtrl.hostile"> 5
                                    </td>
                                   
                                </tr>
                                <tr>
                                        <td>
                                           ashamed  
                                            <!-- <img src="assets\images\happy.png" class="moodImage" /> -->
                                        </td>
                                        <td>&emsp;
                                            <input type="radio" name="ashamed" value="1" ng-model="testCtrl.ashamed"> 1
                                        </td>
                                        <td>
                                            <input type="radio" name="ashamed" value="2" ng-model="testCtrl.ashamed"> 2
                                        </td>
                                        <td>
                                            <input type="radio" name="ashamed" value="3" ng-model="testCtrl.ashamed"> 3
                                        </td>
                                        <td>
                                            <input type="radio" name="ashamed" value="4" ng-model="testCtrl.ashamed"> 4
                                        </td>
                                        <td>
                                            <input type="radio" name="ashamed" value="5" ng-model="testCtrl.ashamed"> 5
                                        </td>
                                       
                                    </tr>
                                 
                
                </table>
            </form>
        </div>
    </div>
          
  <div style="text-align:center;">                  
  <label class="logInputHeader">WorkerId:</label>
                            <input 
                                   ng-model="testCtrl.workerId"
                                   ng-required="true"
                                   class="form-control logInput"
                                   name="workerId"
                                   placeholder="Enter workerId"
                                   text-align="center">
                        <br></br></div>

        <button class="logSubmit" ng-disabled="testCtrl.toDisableReport" ng-click="testCtrl.reportAndStart()">Continue</button>
    </div>
</div>