<div ng-controller="testController as testCtrl" class="logBackground">
    <h2 class="logHeader" align="center">Test</h2>
    <div>
        <h2 class="logHeader" style="font-size: 25px">Question {{testCtrl.currQ+1}} / {{testCtrl.questions.length}}</h2>
        <!-- <div style="height: 5em">
        </div> -->
        <!-- <button ng-click="testCtrl.findTest()" ng-hide="{{testCtrl.currQ}}>0">Start Test</button> -->
        <table align="center">
            <tr>
                <td>
                    <!-- <img ng-src="{{testCtrl.questions[testCtrl.currQ]}}" class="centerImage" width="500" height="300"> -->
                    <img src="assets\questionsImages\screw.jpg">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="centerFillText">
                            <input type="text" ng-pattern="/^[a-zA-Z]*$/" ng-model="testCtrl.answers[testCtrl.currQ]" ng-required="true" class="form-control logInput"
                            name="usernameInput" placeholder="what you see">
                    </div>
                </td>
            </tr>
            <tr>
                <td><button ng-click="testCtrl.prevQ()" class="btn btn-success btn-lg logSubmit" style="float:left">Previous</button></td>
                <td><button ng-click="testCtrl.nextQ()" class="btn btn-success btn-lg logSubmit">Next</button></td>
            </tr>
        </table>
        <button ng-click="testCtrl.SendAnsNotReg()" ng-disabled=!testCtrl.finishTest class="btn btn-success btn-lg logSubmit">Send Test</button>
    </div>
</div>