<div ng-controller="testController as testCtrl" class="logBackground">
    <div data-ng-init="testCtrl.startTest()"></div>
    <h2 class="logHeader" align="center">Test</h2>
    <div>
        <h2 class="logHeader" style="font-size: 25px">Question {{testCtrl.currQ+1}} / {{testCtrl.questions.length}}</h2>
        <!-- <div style="height: 5em">
        </div> -->
        <!-- <button ng-click="testCtrl.findTest()" ng-hide="{{testCtrl.currQ}}>0">Start Test</button> -->
        <table align="center">
            <tr>
                <td>
                    <img ng-src="{{testCtrl.questions[testCtrl.currQ]}}" class="centerImage" width="500" height="300">
                    <!-- <img src="assets\images\questionsImages\screw.jpg"> -->
                </td>
            </tr>
                <tr>
                    <td>
                        <div ng-hide="testCtrl.currQ>14" class="centerFillText">
                                <input type="text" ng-pattern="/^[a-zA-Z]*$/" ng-model="testCtrl.answers[testCtrl.currQ]" ng-required="true" class="form-control logInput" name="usernameInput" placeholder="what you see">
                        </div>
                        <div ng-show="testCtrl.currQ>14" class="centerFillText">
                                <select ng-model="testCtrl.FaceAnswers[testCtrl.currQ]"
                                ng-required="true"
                                class="form-control logInput"
                                name="genderInput">
                                <option value="face">Face</option>
                                <option value="nonFace">Not Face</option>
                                </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    <div ng-hide="testCtrl.currQ>14" class="header2 centerFillText" style="text-align: center">
                        Please write in english what you see in the picture,<br> if you see nothing write "nothing".
                    </div>
                    <div ng-show="testCtrl.currQ>14" class="header2 centerFillText" style="text-align: center">
                        Choose Face/Not Face according to what you see in the picture.
                    </div>
                    <br>
                    </td>
                </tr>
            
            <tr>
                <td><button ng-click="testCtrl.prevQ()" class="btn btn-success btn-lg logSubmit" style="float:left">Previous</button></td>
                <td><button ng-click="testCtrl.nextQ()" class="btn btn-success btn-lg logSubmit">Next</button></td>
            </tr>
        </table>
        <button ng-click="testCtrl.SendAnsNotReg()" class="btn btn-success btn-lg logSubmit">Send Test</button>
    </div>
</div>